<h1>Panel Administrador</h1>

<a href="/inventario">Ver Inventario</a>

<h2>Registrar Vendedor</h2>

<form action="/registrar_vendedor" method="POST">

<input type="text" name="username" placeholder="Usuario vendedor">

<input type="password" name="password" placeholder="Contraseña">

<button>Registrar</button>

</form>

<h2>Agregar Celular</h2>

<form action="/agregar_celular" method="POST">

<input type="text" name="marca" placeholder="Marca">

<input type="text" name="modelo" placeholder="Modelo">

<input type="number" name="precio" placeholder="Precio">

<input type="number" name="cantidad" placeholder="Cantidad">

<button>Agregar</button>

</form>