<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
        <h2>Panel Administrador ({{ session['user'] }})</h2>
        <a href="/logout"><button style="background-color: #dc3545;">Cerrar Sesión</button></a>
    </header>

    <div class="container">


        <a href="/inventario"><button>Inventario</button></a>
        <a href="/registrar_vendedor"><button>Registrar Vendedor</button></a>

        <hr>
        <h3>Vendedores Registrados</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Acción</th>
            </tr>
            {% for v in vendedores %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.usuario }}</td>
                <td><a href="/eliminar_vendedor/{{v.id}}"
                        onclick="return confirm('¿Eliminar vendedor {{v.usuario}}?');">Eliminar</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>

</body>

</html>