<!DOCTYPE html>
<html>

<head>
    <title>Agregar Celular</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
        <h2>Agregar Celular</h2>
    </header>

    <div class="container">

        <div style="margin-bottom: 20px;">
            <a href="/inventario"><button style="background-color: #6c757d;">&larr; Volver al Inventario</button></a>
        </div>

        <form method="POST">

            <label>Marca</label>
            <input type="text" name="marca">

            <label>Modelo</label>
            <input type="text" name="modelo">

            <label>Precio</label>
            <input type="number" name="precio" step="0.01" required>

            <label>Stock</label>
            <input type="number" name="stock" required>

            <button>Guardar Celular</button>

        </form>

    </div>

</body>

</html>