<!DOCTYPE html>
<html>

<head>
    <title>Agregar Celular</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <div style="display: flex; align-items: center; gap: 10px;">
            <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
            <h2>Agregar Celular</h2>
        </div>

        <div class="header-buttons">
            <a href="/inventario"><button class="btn-secundario">&larr; Volver al Inventario</button></a>
        </div>
    </header>

    <div class="container">

        <form method="POST" class="form-card">

            <label>Marca</label>
            <input type="text" name="marca" required>

            <label>Modelo</label>
            <input type="text" name="modelo" required>

            <label>Precio</label>
            <input type="number" name="precio" step="0.01" required>

            <label>Stock</label>
            <input type="number" name="stock" required>

            <button type="submit" class="btn-principal">Guardar Celular</button>

        </form>

    </div>

</body>

</html>