<!DOCTYPE html>
<html>

<head>
    <title>Agregar Celular</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <div class="container">

        <h2>Agregar Celular</h2>

        <form method="POST">

            <label>Marca</label>
            <input type="text" name="marca">

            <label>Modelo</label>
            <input type="text" name="modelo">

            <label>Precio</label>
            <input type="number" name="precio">

            <label>Stock</label>
            <input type="number" name="stock">

            <button>Guardar</button>

        </form>

    </div>

</body>

</html>