<!DOCTYPE html>
<html>

<head>
    <title>Editar Celular</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <div style="display: flex; align-items: center; gap: 10px;">
            <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
            <h2>Editar Celular</h2>
        </div>

        <div class="header-buttons">
            <a href="/inventario"><button class="btn-secundario">&larr; Volver al Inventario</button></a>
        </div>
    </header>

    <div class="container">

        <form action="/actualizar_celular" method="POST" class="form-card">
            <input type="hidden" name="id" value="{{ celular.id }}">

            <label>Marca</label>
            <input type="text" name="marca" value="{{ celular.marca }}" required>

            <label>Modelo</label>
            <input type="text" name="modelo" value="{{ celular.modelo }}" required>

            <label>Precio</label>
            <input type="number" name="precio" step="0.01" value="{{ celular.precio }}" required>

            <label>Stock</label>
            <input type="number" name="stock" value="{{ celular.stock }}" required>

            <button type="submit" class="btn-principal">Actualizar Celular</button>
        </form>
    </div>
</body>

</html>