<!DOCTYPE html>
<html>

<head>
    <title>Inventario</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
        <h2>Inventario</h2>

        <div style="margin-bottom: 20px;">
            {% if session['rol'] == 'admin' %}
            <a href="/admin"><button style="background-color: #6c757d;">&larr; Volver al Panel Admin</button></a>
            {% else %}
            <a href="/vendedor"><button style="background-color: #6c757d;">&larr; Volver al Panel Vendedor</button></a>
            {% endif %}
        </div>
    </header>

    <div class="container">

        {% if session['rol'] == 'admin' %}
        <div style="margin-bottom: 20px;">
            <a href="/agregar_celular"><button>+ Agregar Nuevo Celular</button></a>
        </div>
        {% endif %}

        <table>

            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Stock</th>
                {% if session['rol'] == 'admin' %}
                <th>Acciones</th>
                {% endif %}
            </tr>

            {% for c in celulares %}

            <tr>
                <td>{{c.marca}}</td>
                <td>{{c.modelo}}</td>
                <td>{{c.precio}}</td>
                <td>{{c.stock}}</td>
                {% if session['rol'] == 'admin' %}
                <td>
                    <a href="/editar_celular/{{c.id}}">Editar</a> |
                    <a href="/eliminar_celular/{{c.id}}"
                        onclick="return confirm('¿Seguro que deseas eliminar este equipo?');">Eliminar</a>
                </td>
                {% endif %}
            </tr>

            {% endfor %}

        </table>

    </div>

</body>

</html>