<!DOCTYPE html>
<html>

<head>
    <title>Inventario</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <div class="container">

        <h2>Inventario</h2>

        <table>

            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>

            {% for c in celulares %}

            <tr>
                <td>{{c.marca}}</td>
                <td>{{c.modelo}}</td>
                <td>{{c.precio}}</td>
                <td>{{c.stock}}</td>
            </tr>

            {% endfor %}

        </table>

    </div>

</body>

</html>