<!DOCTYPE html>
<html>

<head>
    <title>Registrar Vendedor</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
        <h2>Registrar Vendedor</h2>
    </header>

    <div class="container">

        <div style="margin-bottom: 20px;">
            <a href="/admin"><button style="background-color: #6c757d;">&larr; Volver al Panel Admin</button></a>
        </div>

        <form method="POST">

            <label>Usuario</label>
            <input type="text" name="usuario" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button>Registrar Vendedor</button>

        </form>

    </div>

</body>

</html>