<!DOCTYPE html>
<html>

<head>
    <title>Registrar Venta</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <div class="container">

        <h2>Registrar Venta</h2>

        <form method="POST">

            <label>Celular</label>

            <select name="celular_id">

                {% for c in celulares %}

                <option value="{{c.id}}">
                    {{c.marca}} {{c.modelo}}
                </option>

                {% endfor %}

            </select>

            <label>Método de pago</label>

            <select name="metodo_pago">

                <option>efectivo</option>
                <option>tarjeta</option>

            </select>

            <button>Registrar Venta</button>

        </form>

    </div>

</body>

</html>