<!DOCTYPE html>
<html>

<head>
    <title>Registrar Vendedor</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <div style="display: flex; align-items: center; gap: 10px;">
            <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
            <h2>Registrar Vendedor</h2>
        </div>

        <div class="header-buttons">
            <a href="/admin"><button class="btn-secundario">&larr; Volver al Panel Admin</button></a>
        </div>
    </header>

    <div class="container">

        <form method="POST" class="form-card">

            <label>Usuario</label>
            <input type="text" name="usuario" minlength="4" required>

            <label>Password</label>
            <input type="password" name="password" minlength="4" required>

            <button type="submit" class="btn-principal">Registrar Vendedor</button>

        </form>

    </div>

</body>

</html>