<!DOCTYPE html>
<html>

<head>
    <title>Vendedor</title>
    <link rel="stylesheet" href="/static/styles.css?v=2">
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <header>
        <div style="display: flex; align-items: center; gap: 10px;">
            <img src="/static/icono_ipera.png" alt="Logo iPera" class="logo-ipera">
            <h2>Panel Vendedor ({{ session['user'] }})</h2>
        </div>
        <div class="header-buttons">
            <a href="/logout"><button style="background-color: #dc3545;">Cerrar Sesión</button></a>
        </div>
    </header>

    <div class="container">

        <a href="/registrar_venta"><button>Registrar Venta</button></a>
        <a href="/ventas"><button>Ver Historial de Ventas</button></a>
        <a href="/inventario"><button>Ver Inventario</button></a>

    </div>

</body>

</html>